@mixin flex($valign:center, $justify:left) {
	display: flex;
	align-items: $valign;
	justify-content: $justify;
}
@mixin flex-c {
	@include flex(center, center);
}
@mixin flex-l {
	@include flex(center, flex-start);
}
@mixin flex-r {
	@include flex(center, flex-end);
}
